@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-blue-50/25 rounded-md hover:bg-white/50;
  }
}

:root {
  @apply bg-zinc-900 text-zinc-50;
}
