.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @apply my-16;
    .content{
        display: flex;
        gap: 2rem;

        width: 90%;
        max-width: 1000px;  
        @apply my-8;
        @media screen and (max-width: 624px) {
            flex-direction: column;
        }
    }
    .form{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 1rem;
        flex: 1;
        input,textarea{
            background: #8881;
            border: 1px solid #fff2;
            @apply rounded-md p-2 focus:border-blue-500 outline-none;
            &::placeholder{
                @apply text-zinc-500;
                text-transform: capitalize;
            }
            width: 100%;
            resize: none;
            &::-webkit-scrollbar{
                width: 8px;
            }
            &::-webkit-scrollbar-track{
                background: transparent;
            }
            &::-webkit-scrollbar-thumb{
                border-radius: 12px;
                background: #8884;
            }
            min-width: 16rem;
        }
        button{
            @apply rounded-md p-2 bg-blue-500 hover:bg-blue-600 border-[1px] border-transparent hover:border-blue-500 transition-all focus:ring-4 outline-none ;
        }
        .send{
            animation: 2s send;
            animation-fill-mode: forwards;
        }
        .sendText{
            animation: 0.5s sendText;
            animation-fill-mode: forwards;
        }
    }
    .info{
        min-width: 16rem;
        @apply text-zinc-300;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .row{
            display: flex;
            gap: 1rem;
            .icon{
                min-width: 32px;
                @apply text-white;
            }
            a{
                text-decoration: underline;
                @apply text-white hover:text-blue-500 transition-all;
            }
            @media screen and (max-width: 624px) {
                justify-content: center;
            }
        }
        hr{
            border: none;
            height: 1px;
            background: #fff4;
        }
    }
}

@keyframes send{
    0%{
        opacity: 0;
        transform: translate(100px);
    }
    35%, 65%{
        opacity: 1;
        transform: translate(0);
    }
    100%{
        opacity: 0;
        transform: translate(-100px);
    }
}

@keyframes sendText {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}