.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  gap: 1rem;
  @apply my-16;
  .content{
    width: 90%;
    max-width: fit-content;
    z-index: 10;
  }
}
